.nav-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* margin-bottom: var(--spacing-small); */
  cursor: pointer;
  transition: all 0.3s ease;
  padding: var(--spacing-small) var(--spacing-large);
  width: 100%;
  box-sizing: border-box;
}

.nav-item:hover,
.nav-item:focus {
  background-color: rgba(255, 255, 255, 0.1);
  /* transform: translateY(-2px); */
  outline: none;
}

.nav-item.active {
  border-left: 8px solid white;
}

.nav-item .icon {
  display: flex;
  align-items: center;
  font-size: var(--font-size-large);
  /* margin-bottom: var(--spacing-small); */
  color: var(--color-text-light);
  transition: all 0.3s ease;
}

.nav-item:hover .icon,
.nav-item:focus .icon,
.nav-item.active .icon {
  color: var(--color-secondary);
}

.nav-item span {
  font-size: var(--font-size-small);
  text-align: left;
  transition: all 0.3s ease;
  width: 100%;
  word-wrap: break-word;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  min-height: 28px;
  padding: 0 var(--spacing-small);
  box-sizing: border-box;
}

.nav-item:hover span,
.nav-item:focus span,
.nav-item.active span {
  color: var(--color-secondary);
}
