@import './styles/designTokens.css';

/* Global Styles */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-text-primary);
  letter-spacing: -0.01em;
  box-sizing: border-box;
}

h1, h2, h3 {
  font-family: var(--font-family);
  font-weight: var(--font-weight-light);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Layout Styles */
.App {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main-container {
  flex-grow: 1;
  margin-left: 200px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  position: relative;
  z-index: 1;
  background-color: var(--color-background);
}

.content-wrapper {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.main-content {
  flex-grow: 1;
  padding: var(--spacing-xlarge) var(--spacing-large) var(--spacing-xlarge) var(--spacing-xlarge);
  overflow-y: auto;
  width: calc(100% - 400px);
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}
